DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pongapp
PORT=3000
FORTYTWO_APP_ID=
FORTYTWO_APP_SECRET=
AUTHORIZATION_URL=https://api.intra.42.fr/oauth/authorize?
TOKEN_URL=https://api.intra.42.fr/oauth/token
CALLBACK_URL=
JWT_SECRET=
JWT_EXPIRATION=
CLIENT_PORT=